<div class="col-lg-1">
</div>
<div class="col-lg-11">
  <div class="show">
    <div class="side left">
      <%= image_tag @feed.image.url, class: "image-post1" %>
    </div>
    <div class="side right">
      <div class="photo">
        <header class="photo__header">
          <%= image_tag @feed.user.photo.url, class: "photo__avatar" %>
          <div class="photo__user-info">
            <span class="photo__author"><%= @feed.user.name%></span>
          </div>
        </header>
        <header class="photo__header">
          <%= image_tag @feed.user.photo.url, class: "photo__avatar" %>
          <div class="photo__user-info">
            <strong class=""><%= @feed.user.name%></strong> <span><%= @feed.post %></span>
          </div>
        </header>
        <div class="photo__info">
          <div class="photo__actions">
            <span class="photo__action">
              <% unless @feed.user_id == current_user.id %>
              <% if @favorite.present? %>
                <%= link_to favorite_path(id: @favorite.id), method: :delete do %><i class="fa fa-heart" aria-hidden="true"></i><% end %>
              <% else %>
                <%= link_to favorites_path(feed_id: @feed.id), method: :post do %><i class="fa fa-heart-o" aria-hidden="true"></i><% end %>
              <% end %>
              <% end %>
            </span>
            <span class="photo__action">
              <% if @feed.user_id == current_user.id %>
              <%= link_to 'Edit', edit_feed_path(@feed) %> |
              <% end %>
              <%= link_to 'Back', feeds_path %>
            </span>
          </div>
          <span class="photo__likes">liked by <b>Rando </b> and <b>45 others</b></span>
          <span class="photo__time-ago"><%= @feed.created_at.strftime('%Y/%-m/%-d %-H:%-M') %></span>
          <div class="photo__add-comment-container">
            <textarea name="comment" placeholder="Add a comment..."></textarea>
            <a href="#">Post</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
