 <% if @user.errors.any? %>
 <div id="error_explanation">
 <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
 <ul>
 <% @user.errors.full_messages.each do |message| %>
 <li><%= message %></li>
 <% end %>
 </ul>
 </div>
 <% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag("phone.png", class: "phone") %>
    </div>
    <div class="col-sm-6">
      <div class="right-column text-center">
      <%= image_tag("instagram.png", class: "instagram-logo") %>
        <p class="info">Sign up to see photos and videos from your friends.</p>
        <button type="submit" class="btn btn-primary btn-block">Log in with Facebook</button>
        <p class="or">or</p>
          <%= render 'register', user: @user %>
        <p class="terms">By signing up, you agree to our <b>Terms, Data Policy</b> and <b>Cookies Policy</b></p>
      </div>
      <div class="right-colum-login text-center">
        <p>Have and account? <%= link_to "Log In", new_session_path %></p>
      </div>
      <div class="right-colum-app text-center">
        <p>Get the app.</p>
      </div>
      <div class="bottom-column text-center">
        <%= image_tag("app.png", class: "app-store") %>
      </div>
    </div>
  </div>
</div>
