<!DOCTYPE html>
<html>
  <head>
    <title>IgClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <% if logged_in? %>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
      <div class="col-lg-2">

      </div>
      <div class="col-lg-8">
        <%= link_to feeds_path, class: "nav navbar-brand" do %><% image_tag("ig-logo.png", class: "ig-logo") %><% end %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to new_feed_path do %><i class="fa fa-plus-square-o fa-lg" aria-hidden="true"></i><% end %></li>
            <li><%= link_to favorites_path do %><i class="fa fa-heart-o fa-lg" aria-hidden="true"></i><% end %></li>
            <li><%= link_to user_path(current_user.id) do %><%= image_tag current_user.photo.url, class: "image-icon" %><% end %></li>
            <li><%= link_to session_path(current_user.id), method: :delete do %><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i><% end %></li>
          </ul>
        </div>
        <div class="col-lg-9">
        </div>
      </div>
    </nav>
    <% end %>
    <div class="container" style="margin-top:100px margin-bottom:200px">
      <%= yield %>
    </div>
  </body>
</html>
